
.heading{
    padding-top: 12.56rem;
    width: 100%;
    height: 30rem;
    text-align: center;
    h1{
        color: #DBB161;
    font-family: Ivy Mode;
    font-size: 7.6875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 7.9375rem; /* 103.252% */
    letter-spacing: 0.07688rem;
    text-transform: capitalize;
    }
}
.package_cards{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4.75rem;
    padding-bottom: 12rem;
    .package_card_container{
        border: 4px solid #DBB161;
        gap: 5.87rem;
        .card{
            display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 37.9375rem;
        padding: 20px;
            flex-shrink: 0;
            background-color: black;
            color: #FEF9F2;
            p{
                color: #fff;
                cursor: pointer;
                margin-top: 10px;
                font-family: RocknRoll One;
                font-size: 0.875rem;
                font-style: normal;
                font-weight: 200;
                line-height: 1.6rem; /* 182.857% */
                letter-spacing: 0.06125rem;
            }
            h1{
                color: #FFC906;
                text-align: center;
                font-family: Ivy Mode;
                font-size: 2.6875rem;
                font-style: normal;
                font-weight: 600;
                line-height: 3.4rem; /* 126.512% */
                letter-spacing: 0.02688rem;
                text-transform: capitalize;
            }
        }
    }
}




$details-padding: 1em;

details {
	font-size: 1rem;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	width: 100%;
	background: #ffffff;
	position: relative;
	width: 37.9375rem;
    border-bottom: 2px solid #D1D1D1;
    padding: 1rem;
    
	.summary-title {
		color: #946A1A;
        font-family: Ivy Mode;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.75rem; /* 140% */
        letter-spacing: 0.1rem;
        text-transform: capitalize;
	}

	&:hover {
		cursor: pointer;
	}

	.summary-content {
		border-top: 1px solid #e2e8f0;
		cursor: default;
		padding: $details-padding;
		font-weight: 300;
		line-height: 1.5;
        color: #474747;
        font-family: Cormorant;
        font-size: 1.4375rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.68125rem; /* 116.957% */
        li::marker{
            color: #946A1A;
        }
        li{
            margin-top: 1rem;
        }
	}

	summary {
		list-style: none;
		padding: $details-padding;
        
		&:focus {
			outline: none;
		}

		&:hover .summary-chevron-up svg {
			opacity: 1;
		}
	}

	.summary-chevron-up svg {
		opacity: 0.5;
	}

	.summary-chevron-up,
	.summary-chevron-down {
        display: flex;
        align-items: center;
        justify-content: center;
		pointer-events: none;
		position: absolute;
		top:2.3em;
		right: $details-padding;
		background: #ffffff;

		svg {
			display: block;
		}
	}

	summary::-webkit-details-marker {
		display: none;
	}
}